<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slice01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,178}</string>
                <key>spriteSourceSize</key>
                <string>{116,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,177}</string>
                <key>spriteSourceSize</key>
                <string>{103,177}</string>
                <key>textureRect</key>
                <string>{{181,1},{103,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,91}</string>
                <key>spriteSourceSize</key>
                <string>{85,91}</string>
                <key>textureRect</key>
                <string>{{654,1},{85,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice04_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,92}</string>
                <key>spriteSourceSize</key>
                <string>{77,92}</string>
                <key>textureRect</key>
                <string>{{360,1},{77,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice05_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,176}</string>
                <key>spriteSourceSize</key>
                <string>{89,176}</string>
                <key>textureRect</key>
                <string>{{741,1},{89,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice06_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,92}</string>
                <key>spriteSourceSize</key>
                <string>{77,92}</string>
                <key>textureRect</key>
                <string>{{439,1},{77,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice07_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,92}</string>
                <key>spriteSourceSize</key>
                <string>{66,92}</string>
                <key>textureRect</key>
                <string>{{518,1},{66,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice08_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,92}</string>
                <key>spriteSourceSize</key>
                <string>{66,92}</string>
                <key>textureRect</key>
                <string>{{586,1},{66,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{918,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55f9a2a2cbac27fbec52260d68d4f0ca:32405f34c63dad715180055965ac9735:e44e28a7f983377b8bb0c97d886e5bb7$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
